<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="接口套件">

    <test00 name="测试模块">
        <classes>
            <class name="com.tester.extend.TestNethodsDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </methods>

            </class>
        </classes>
    </test00>

    <listeners>
<!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter" />-->
        <listener class-name="com.tester.extend.ExtentTestNGIReporterListener" />
    </listeners>

</suite>